
<c-card  style="margin-left: 200px; margin-right: 200px;">
    <c-card-body>

    <h1 style="text-align: center;">Cancel Order</h1>
<form [formGroup]="cancelForm">
    <div class="form-group row" style="padding-top: 20px ;">
        <label type="text" class="col-sm-2 col-form-label">Trace Number</label>
        <div class="col-sm-10">
          <input matInput required formControlName="traceNumber" type="text" class="form-control" id="formGroupExampleInput" placeholder="Trace Number">
        </div>
      </div>
      <div class="form-group row" style="padding-top: 20px ;">
        <label class="col-sm-2 col-form-label">Statement</label>
        <div class="col-sm-10">
          <input matInput required formControlName="statement" type="text" class="form-control" id="inputPassword" placeholder="Statement">
        </div>
      </div>
      <div style="padding-top: 20px; align-content: center;">
        <button  cButton class="me-1 mb-3" color="secondary">Cancel</button>
        <button  cButton class="me-1 mb-3" color="primary" [disabled]="!cancelForm.valid" (click)="submit()">Submit</button>
      </div>
  </form>
  </c-card-body>
  </c-card>
